# Godot 4+ specific ignores
.godot/
.import/

# C# / Visual Studio specific
bin/
obj/
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log